body {
	background-color: #f7f7ff;
	background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
	background-position: 8.5rem -3.1rem, bottom left;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.our-pricing {
	text-align: center;
}

.our-pricing h1 {
	color: #717291;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.toggle-plan {
	color: #b0b0bd;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 20px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #7e82e4;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.price-columns__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-card {
	background-color: #ffffff;
	width: 270px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.price-columns__container .plan-type {
	margin-top: 25px;
	color: #66677c;
}
.price-columns__container .plan-price {
	font-size: 3.5rem;
	color: #4a4d60;
	margin: 25px 0;
}
.price-columns__container .plan-price span {
	display: inline-block;
	font-size: 2rem;
	vertical-align: middle;
	margin-bottom: 5px;
}
.plan-details__container .plan-detail__row {
	color: #7c7c89;
	font-size: 0.8rem;
}
.price-card .divider {
	width: 230px;
	border: none;
	border-top: 2px solid #f7f7f7;
}

.price-card .learn-more__button {
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 0;
	width: 230px;
	max-width: 230px;
	margin: 20px 0px;
	border-radius: 6px;
	text-decoration: none;
	font-size: 0.8rem;
	color: #e8eeff;
	background: linear-gradient(45deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

/* MEDIA QUERIES */
/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
	body {
		background-position: top right, bottom left;
	}
}
